body{
	box-sizing: border-box;
	margin: 0px 0px 0px 0px;
	background-color: rgb(161, 209, 218);
	font-family:"Righteous";
}
.container{
	max-width: 300px;
	height: 600px;
	margin: 0 auto	;
}
.screan{
	/* background-color: rgb(160, 42, 42); */
	border-radius: 5px;
	max-width: 300px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid rgb(255, 255, 255);
	
}
.wrapper{
	margin-top: 50%;
}
.time__item{
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(255, 255, 255);
	margin: 0px 0px 0px 0px;
	color: white;
}
.btn{
	margin-top: 15px;
	cursor: pointer;

}

.button{
	cursor: pointer;
	color: white;
	background:none;
	border-radius: 5px;
	border: 1px solid rgb(255, 255, 255);
	padding: 15px 28px;
}
.button:hover{
	transition: .4s all ease;
	background: rgb(126, 214, 177);
	color: white;
}
.btn:hover{
	
}